


body{
  background-size:cover ;
  background-repeat: repeat;
  background: linear-gradient(135deg, #11162c, #514ba2);

  
}

.container{
max-width: 80%;

text-align: center;
margin-top:250px;
margin-bottom: 50px;

  
}

.font h1,button{
  font-family: "Savate", sans-serif;
 font-weight: 300;
}

.note{
  color: #f1f1f5;
  font-size: 4.4rem;
  margin-bottom: 25px;
  text-shadow: 1px 0px 9px rgb(3, 3, 3);

}

#to-do-list{
color: rgb(250, 250, 249);
font-weight: 400;
font-size: 4.0rem;
margin-bottom: 35px;
text-shadow: 0px 0px 9px rgb(0, 0, 0);

}

button{
  margin: 5px;
  
}
.btnjs{
  background: #d7d6e6;
  border:1px solid rgb(73, 71, 71);
 

}

.btnjs:hover{
  background: #e7e7eb;
  box-shadow: 0px 0px 5px black;
  width: 48px;
}

input {
  margin-top: 25px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px rgb(211, 202, 186);
 
}

.card{
  box-shadow: 0px 0px 2px rgb(32, 32, 32);
background: #494d5f;

}


h1{
  color: azure;
}
li{
  color: azure;
}
ol{
  margin-top: 20px;
}

.btn-info{
  background: rgb(53, 135, 228);
  color: azure;
  width: 45%;
  align-self: center;
  border: none;
}

.btn-success{
 border: none;
  background: rgb(114, 185, 126);
    width: 45%;
  align-self: center;
}

.confirm{
   margin-top: 20px;
  background: #74a7f5;
    width: 45%;
  align-self: center;

}



.concluida {
  text-decoration: line-through;
  color: red;
}

.trash{
  font-size: 23px;
  color: rgb(238, 93, 93);
}

.trash:hover{
  color: #ee3a2d;
 
}

.check{
  color: green;
  font-size: 23px;
}
.check:hover{
  color: rgb(1, 82, 1);
}

.edit{
  color: rgb(82, 82, 231);
  font-size: 23px;
}
.edit:hover{
  color: rgb(55, 55, 185);
}

#result{
  box-shadow: 0px 0px 5px rgb(103, 104, 105);
}



